<div class="page-header">
  <h1>Medication #<%= @medication.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Medication name</dt>
  <dd><%= @medication.medication_name %></dd>

  <dt>Dosage amt</dt>
  <dd><%= @medication.dosage_amt %></dd>

  <dt>Dosage daily frequency</dt>
  <dd><%= @medication.dosage_daily_frequency %></dd>

  <dt>Dosage daily time</dt>
  <dd><%= @medication.dosage_daily_time %></dd>

  <dt>Dosage duration</dt>
  <dd><%= @medication.dosage_duration %></dd>

  <dt>Date last filled</dt>
  <dd><%= @medication.date_last_filled %></dd>

  <dt>Date next refill</dt>
  <dd><%= @medication.date_next_refill %></dd>

  <dt>Doctor</dt>
  <dd><%= @medication.doctor %></dd>

  <dt>Patient ID</dt>
  <dd><%= current_patient.id %></dd>

</dl>
