<div class="page-header">
  <h1>Patients</h1>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Blood type</th>
      <th>Medication</th>
      <th>Allergies</th>
      <th>Doctor</th>
      <th>Med conditions</th>
      <th>X-Rays</th>
      <th>Patient ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @patient.First_name %></td>
        <td><%= @patient.last_name %></td>
        <td><%= @patient.date_of_birth %></td>
        <td><%= @patient.gender %></td>
        <td><%= @patient.blood_type %></td>
        <td><%= @m %></td>
        <td><%= @a %></td>
        <td><%= @d %></td>
        <td><%= @c %></td>
        <td><%= image_tag @patient.img_url, width: 200, class: "img-square" %></td>
        <td><%= @patient.id %></td>
     
      </tr>
  </tbody>
</table>

