<div class="page-header">
  <h1>Patient #<%= @patient.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @patient.First_name %></dd>

  <dt>Last name</dt>
  <dd><%= @patient.last_name %></dd>

  <dt>Date of birth</dt>
  <dd><%= @patient.date_of_birth %></dd>

  <dt>Gender</dt>
  <dd><%= @patient.gender %></dd>

  <dt>Blood type</dt>
  <dd><%= @patient.blood_type %></dd>

  <dt>Medication</dt>
  <dd><%= @patient.medication %></dd>

  <dt>Allergies</dt>
  <dd><%= @patient.allergies %></dd>

  <dt>Doctor</dt>
  <dd><%= @patient.doctor %></dd>

  <dt>Med conditions</dt>
  <dd><%= @patient.med_conditions %></dd>

  <dt>X-Ray</dt>
  <dd><%= image_tag @patient.img_url, width: 200, class: "img-circle" %></dd>

</dl>
