<div class="page-header">
  <h1>Doctor #<%= @doctor.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @doctor.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @doctor.last_name %></dd>

  <dt>Doctor</dt>
  <dd><%= @doctor.doctor %></dd>

  <dt>Specialty</dt>
  <dd><%= @doctor.specialty %></dd>

  <dt>Street addr</dt>
  <dd><%= @doctor.street_addr %></dd>

  <dt>City</dt>
  <dd><%= @doctor.city %></dd>

  <dt>State</dt>
  <dd><%= @doctor.state %></dd>

  <dt>Zip</dt>
  <dd><%= @doctor.zip %></dd>

</dl>
