<div class="page-header">
  <h1>Allergy #<%= @allergy.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Allergies</dt>
  <dd><%= @allergy.allergies %></dd>

  <dt>Allergy severity</dt>
  <dd><%= @allergy.allergy_severity %></dd>

  <dt>Allergy classification</dt>
  <dd><%= @allergy.allergy_classification %></dd>

  <dt>Patient ID</dt>
  <dd><%= current_patient.id %></dd>

</dl>
